
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">List Category Product</h1>
	
	<!--Searchbox-->
	<!-- <div class="searchbox">
		<div class="input-group custom-search-form">
			<input type="text" class="form-control" placeholder="Search..">
			<span class="input-group-btn">
				<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</div> -->
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="{$basedomain}">Home</a></li>
	<li><a href="{$basedomain}">Product</a></li>
	<li class="active">List Category Product</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel">
				<a href="{$basedomain}product/formCatProduct/" class="btn btn-lg btn-success">add category</a>
						<div class="panel-body">
							<table data-toggle="table"
								   data-search="true"
								   data-show-refresh="true"
								   data-show-toggle="true"
								   data-show-columns="true"
								   data-sort-name="id"
								   data-page-list="[5, 10, 20]"
								   data-page-size="5"
								   data-pagination="true">
								<thead>
									<tr>
										<th data-field="id" data-sortable="true">ID</th>
										<th data-field="name" data-sortable="true">Name</th>
										<th data-field="parent" data-sortable="true" >Parent</th>
										<th data-field="status" data-align="center" data-sortable="true">Status</th>
										<th data-align="center">Action</th>
									</tr>
								</thead>
								<tbody>
									{foreach $catProduct as $val}
									<tr>
										<td>{$val.category_id}</td>
										<td>{$val.name}</td>
										<td>{$val.parent_id}</td>
										<td><span class="badge 
											{if $val.status == 'published'}
											badge-success
											{else}
											badge-warning
											{/if}
											">{$val.status}</span></td>
										<td data-align="center">
											<a href="{$basedomain}product/formEditCatProduct/?id={$val.category_id}" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span></a>
											<a href="{$basedomain}product/deleteCatProduct/?id={$val.category_id}" onclick="return confirm('Anda akan menghapus kategori {$val.name}');" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
										</td>
									</tr>
									{/foreach}
								</tbody>
							</table>
						</div>
					</div>
					

		</div>
	</div>
	
	
	
</div>
<!--===================================================-->
<!--End page content-->

