
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Setting Theme</h1>
	
	<!--Searchbox-->
	<!-- <div class="searchbox">
		<div class="input-group custom-search-form">
			<input type="text" class="form-control" placeholder="Search..">
			<span class="input-group-btn">
				<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</div> -->
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="{$basedomain}">Home</a></li>
	<li><a href="{$basedomain}">Theme</a></li>
	<li class="active">Setting Theme</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	<div class="row">
		<div class="col-lg-12">
			
							<!--Default Tabs (Left Aligned)-->
							<!--===================================================-->
							<div class="tab-base">
					
								<!--Nav Tabs-->
								<ul class="nav nav-tabs">
									<li class="active">
										<a data-toggle="tab" href="#demo-lft-tab-1">Manage Theme</a>
									</li>
									<li>
										<a data-toggle="tab" href="#demo-lft-tab-2">Install Theme</a>
									</li>
								</ul>
					
								<!--Tabs Content-->
								<div class="tab-content">
									<div id="demo-lft-tab-1" class="tab-pane fade active in">
										<div class="panel">
								
					
								<!--Horizontal Form-->
								<!--===================================================-->
								
									<div class="panel-body">
										
										<h4>{$themeCurrent.option_value} (CURRENT THEME)</h4>
									<img src="{$urlTheme}{$themeCurrent.option_value}/image.png" width="200px"/>
																
									</div>
								<!--===================================================-->
								<!--End Horizontal Form-->
					
							</div>
									</div>
									<div id="demo-lft-tab-2" class="tab-pane fade">
										<div class="panel">
								
					
								<!--Horizontal Form-->
								<!--===================================================-->
								<form class="form-horizontal">
									<div class="panel-body">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="demo-hor-inputemail">Upload Theme</label>
											<div class="col-sm-9">
												<input type="file" placeholder="Name" id="demo-hor-inputemail" name="userfile" class="form-control">
											</div>
										</div>
									<div class="panel-footer text-right">
										<button class="btn btn-info" type="submit">Install Theme</button>
									</div>
										
										
								</form>
								<!--===================================================-->
								<!--End Horizontal Form-->
					
							</div>
									</div>
								</div>
							</div>
							<!--===================================================-->
							<!--End Default Tabs (Left Aligned)-->
					

		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			{foreach $listTheme as $val}
			{if $val.nameFolder!=$themeCurrent.option_value}
			<div class="col-md-6 col-lg-3">
				<h4>{$val.nameFolder}</h4>
				<a href="{$basedomain}theme/changeTheme/?value={$val.nameFolder}">Active</a> | <a href="#">Uninstall</a>
			<img src="{$urlTheme}{$val.nameFolder}/image.png" width="200px"/>
			</div>
			{/if}
			{/foreach}
		</div>
	</div>
	
	
	
</div>
<!--===================================================-->
<!--End page content-->

